/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100;400&family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}


section {
    overflow-x: hidden;
}

:root {
    --Robotto-font: "Robotto", light;
    --SourceSansPro: "Source Sans Pro", regular;
    --Poppins: "Poppins", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom right,
            #0063E3, #D0DDFF);
    --bggradient-2: linear-gradient(to bottom right,
            #454ADE, #27b183);
    --light-gray: rgba(255, 255, 255, 0.877)
}

header a {
    font-family: var(--Poppins);
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    background: var(--bggradient);
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 135px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: #0063E3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #27B183;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 8em;
}

header .nav-item {
    padding: 0.7em;
}

header .nav-item a {
    color: whitesmoke;
}


header .navbar-brand {
    display: flex;
    padding-left: 8rem;
    align-items: center;
}

header .navbar-brand:hover {
    color: #1e1e1e;
}

header .nav-link:hover {
    color: #1e1e1e;
}

header .fa-align-right {
    color: white;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-7 {
    padding: 2vmin 1vmin;
    padding-bottom: 33vmin;
    padding-top: 23vmin;
    font-family: var(--Poppins);
    color: whitesmoke;
}

header .row .col-md-5 img {
    width: 85%;
    margin-top: 3vmin;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 6vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
    font-family: var(--SourceSansPro);
    font-weight: lighter;
}

header .container .col-md-7 button {
    border-radius: 30px;
    font-weight: semi-bold;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    color: #1e1e1e;
}

header .container .col-md-7 button:hover {
    color: whitesmoke;
}

header .container .col-md-7 .btn-light:hover {
    background-color: #27B183;
    border-color: #27B183;
}

/* section 1 */

.section-1 {
    padding: 20vmin 0;
    background-color: #D0DDFF;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.9;
    border-radius: 0.2em;
    width: 90%;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: -6vmin;
    left: -6vmin;
    background-color: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 14vmin 5vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--SourceSansPro);
    max-width: 80ch;
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

/* section 2 */

.cover {
    width: 100%;
    height: 75vmin;
    background: url(../assets/banner-1-memphis.jpeg);
    background-position: 0rem -9rem;
    background-size: 100%;
    position: relative;
}

.cover .content {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 29vmin;
}

.cover .content h1 {
    font-family: var(--Poppins);
    font-size: 5vmin;
    color: #D0DDFF;
}

.cover .content p {
    font-family: var(--SourceSansPro);
    font-size: 2vmin;
    color: #D0DDFF;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: .5em;
    box-shadow: 0.05px 0.05px 15px 0.5px rgb(169, 171, 179);
}

.numbers {
    margin-top: -15vmin;
    padding-bottom: 10vmin;
}

.numbers .rect h3 {
    font-size: 5rem;
    color: #1e1e1e;
}

.numbers .rect p {
    font-family: var(--Poppins);
}

/* section 2.5 */

.purchase>h1 {
    padding-top: 4vmin;
    padding-bottom: 0.1em;
    font-family: var(--Poppins);
}

.purchase>p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 6vmin;
}

.purchase .cards .card {
    width: 22rem;
    margin: 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.cards .title {
    background: rgba(208, 221, 255, 1);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card-body .pricing {
    background: rgba(208, 221, 255, 1);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing>h1 {
    font-size: 10vmin;
    padding: 1em 0.5em;
}

/* section 3 */

.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: #D0DDFF;
}

.section-3 .col-md-12>h1 {
    padding: 2em 0 0.5em 0;
    color: #1e1e1e;
    font-size: 6vmin;
}

.section-3 .col-md-12>p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: #1e1e1e;
    font-size: 3vmin;
}

.section-3 .desktop {
    background: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
    padding: 1vmin 2vmin;
    margin: 1em;
    width: 12em;
    max-width: 12em;
    height: 4em;
    max-height: 4em;
    overflow-x: none;
    overflow-y: none;
}

.section-3 .desktop .d-flex {
    align-items: center !important;
    height: 100%;
}

.section-3 .desktop i {
    margin-left: -1vmin;
}

.section-3 .desktop .text {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 1.5vmin;
}

.section-3 .desktop h3 {
    font-size: 2vmin;
}

.section-3 .desktop p {
    font-size: 1.4vmin;
}

/* section 4 */

.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 12vmin;
}

.section-4 .team {
    padding: 6vmin 4vmin;
}

.section-4 .card {
    width: 26rem;
    margin-top: 6vmin;
    margin-bottom: 8vmin;
    box-shadow: 0.05px 0.05px 10px 0.25px rgb(196, 196, 196);
}

.section-4 .card .card-text {
    padding: 0.5em;
}

.section-4 .card .card-body>a {
    font-size: 1.5em;
}

.border-radius {
    border-radius: 340px;
    width: 60%;
}

/* Footer */

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #D0DDFF;
}

footer .text-muted {
    max-width: 60ch;
}

footer input {
    border: none !important;
    border-radius: 0.2em;
    width: 65%;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: #D0DDFF;
    margin-left: -1vmin;
    border: none;
}

footer .column i {
    color: #D0DDFF;
    padding-right: 0.5em;
}